body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* MENU */ 
*{ margin: 0px;
	padding: 0px;
}
header{
	background-color: rgb(4, 42, 62);
    z-index: 10;
    width: 100%;
}
header > a > img{
	width: 100px;
	display: block;
	margin: auto;
}

span#icone{
	color: #fff;
	display: block;
	text-align: left;
	padding: 10px;
	cursor: pointer;
	margin-top: -60px;


}

span#icone:hover{
	color: #face55;
}

menu{
	display: block;
	height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

}

menu > ul {
	list-style-type: none;
}

menu > ul > li > a {
	display: block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	background-color: rgb(4, 42, 62);
	color: #fff;
	border-top: 2px solid #feba0084;
}
/* FIM DO MENU */ 
	
/* BOTÃO WHATSAPP */ 
.btn-whatsapp a {
	color:#ffffffcb; 
	text-decoration:none; 
	display:block; 
   }
   .btn-whatsapp {
	   z-index: 11;
	   position:fixed; 
	   right:5px; 
	   bottom:30px; 
	   transform: translate(-50%, -50%);  
	   background-color:rgb(37, 211, 102); 
	   width:60px; height:60px; 
	   text-align:center; 
	   line-height:58px; 
	   font-size:1.8em; 
	   color:#ffffff; 
	   font-weight:100; 
	   border-radius:50%; 
   }
   .btn-whatsapp:before,
   .btn-whatsapp:after
   {
	content: '';
	   display:block;
	   position: absolute;
	   border-radius:50%;
	   border:1px solid #25d366;
	   left: -20px;
	   right: -20px;
	   bottom: -20px;
	   top: -20px;
	   animation: animate 1.5s linear infinite;
	   opacity:0;
	   backface-visibility:hidden;    
   }
   .pulsaDelay:after { animation-delay: .5s; }
   @keyframes animate {
	  0%   { transform: scale(0.5); opacity:0; }
	  50%  { opacity:1; }
	  100% { transform: scale(1.2); opacity:0; }
   }
/* FIM DO BOTÃO WHATSAPP */ 

/* BANNER */
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }


.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
	background-color: #000000;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
}
/* SLIDER */
.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
	
}
/* SLIDES */
.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
	

}
/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}
.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}
.CSSgal .prevNext a {
	background: #ffffff75;
	position: absolute;
	width:       30px;
	height:      30px;
	line-height: 20px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}
/* NAVIGATION */
.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 5px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.132); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.988)important;
}
/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.316);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255, 0.768);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255, 0.718);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255, 0.782);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */
/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */
/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */

.CSSgal{
	color: #ffffffbe;	
	text-align: center;
	width: 100%;
	height: 700px;

}
.CSSgal .background{
	background-image: url("imgs/Captura\ de\ Tela\ \(46\).png");

}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 700;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;

}
/* BANNER */


/* NOSSOS SERVIÇOS */
.container{
width: 100%;
}
.blocos{
	orientation: column;
	margin: 0 auto !important;
	justify-content: space-around;
}

.nossosservicos{
	background-color: rgb(4, 42, 62);
	border-radius: 0 0 90px 0;
	width: 100%;
}
.nossosservicos h1{
	text-align: center;
	padding: 80px;
	color: #fff;
    font-size: xx-large;
    font-weight: 600;
}
.blocoservicos{
	width: 350px;
	margin: 0 auto;
	border-radius: 10px;
    margin-top: 200px;
}

.blococards {
	position : relative;
	width : 100%;
	display : flex;
	align-items : center;
	justify-content : center;
	flex-warp: warp;
    margin-top: 120px;

  }
  
  .blococards .card {
	position: relative;
	max-width : 300px;
	height : 215px;  
	background-color : #face55;
	display : flex;
	flex-direction : column;
	box-shadow : 0 5px 20px rgba(0,0,0,0.5);
	transition : 0.3s ease-in-out;
	border-radius : 15px;

  }
  .blococards .card:hover {
	height : 320px;    
  }
  
  
  .blococards .card .image {
	position : relative;
	width : 260px;
	height : 260px;
	top : -60%;
	left: 20px;
	box-shadow : 0 5px 20px rgba(0,0,0,0.2);
	z-index : 1;
  }
  
  .blococards .card .image img {
	max-width : 100%;
	border-radius : 15px;
	
  }
  
  .blococards .card .content {
	position : relative;
	top : -180px;
	padding : 10px 15px;
	color : #333;
	text-align : center;
	visibility : hidden;
	opacity : 0;
	transition : 0.3s ease-in-out;
  }
  
  .blococards .card:hover .content {
	 margin-top : 50px;
	 visibility : visible;
	 opacity : 1;
	 transition-delay: 0.2s;
}
/* */
.custom-

/* NOSSOS SERVIÇOS */

/* O QUE FAZEMOS
.container{
    margin: 0 auto !important;
}
    .oqfazemos{
        width: 100%;
        text-align: center;
    }
    .oqfazemos h1{
        color: #ffffff;
        font-weight: 700;
        font-size: 150%;
		
    }
    .oqfazemos p{
        color: #ffffff;
        width: 700px;
        font-weight: 600;
        margin: 0 auto !important;
        font-size: 100%;
		padding: 50px;
	}
   
    .oqfazemos a{
        background-color: #face55;
        color: #fff;
        padding: 15px;
        border-radius: 2px;
    }

    .oqfazemos a:hover{
        box-shadow: 0px 0px 16px -6px rgba(250,206,85,1);
-webkit-box-shadow: 0px 0px 16px -6px rgba(250,206,85,1);
-moz-box-shadow: 0px 0px 16px -6px rgba(250,206,85,1); }

        
/* O QUE FAZEMOS */

/* QUEM SOMOS */

.quemsomos{
    color: rgb(4, 42, 62);
}
.quemsomos h1{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

}
.separator{
    background-color: rgb(250, 206, 85);
    height: 5px;
    margin: 0 auto;
    width: 70px;
}
.txtp{
    font-size: small;
    margin: 0 auto !important;
    padding: 50px;
    text-align: center;

}

.txtp p{
}

/* QUEM SOMOS */

/* NOSSOS CLIENTES */
.carrossel-clientes{
    
}
.nossosclientes{
    text-align: center;
    margin-top: 100px;
    margin: 0 auto;

}
.nossosclientes h1{
    font-style: italic;
    padding:30px;
    color: rgb(4, 42, 62);
}
.sliderr {
	width: 100%;
   height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
		  margin-top: -150px;
		}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 10rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          margin-top: 450px;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	height: 100%;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
  }
  .slider__contents {
	height: 100%;
	padding: 2rem;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
		-ms-flex: 1;
			flex: 1;
	-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
			flex-flow: column nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  .slider__image {
	font-size: 2.7rem;
		color: #2196F3;
  }
.slider__contents img{
    width: 200px;
}

.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 301px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/* NOSSOS CLIENTES */


/* RODAPE */

.container{

}
.blocordp{
	background-color: rgb(4, 42, 62);
}
.rodape{
	display: flex;
	margin: 0 auto !important;
	justify-content: space-around;
	height: 330px;
}
.logordp img{
	width: 100px;
}

.logordp{
	padding: 30px;
}

.listrodape{
	margin-top: 50px;

}
.listrodape ul{
	list-style: none;
}
.listrodape ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: xx-small;
}
.listrodape ul li a:hover{
	color: #face55;
	transition: 0.3s;
	text-shadow: 0px 0px 5px rgba(250,206,85,0.75);

}


.endereco{

}
.redes{
	margin-top: 50px;
	color: #fff;
}
.redes img{
	width: 30px;
	margin-top: 10px;

}
.redes img:hover{
	background-color:#face55c6;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px rgba(250,206,85,0.75);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(250,206,85,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(250,206,85,0.75);
	animation:slide-top 1s linear both}@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-10px)}    }

.copy{
	width: 100%;
	background-color: rgb(214, 160, 12);
	height: 20px;
	padding: 20px;
}
.copy p{
	color: #ffffff;
	font-size: x-small;
	text-align: center;
	font-weight: 400;
	margin-top: -6px;	
}


	/* FIM DO RODAPE */
	

	
	  
